<div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">IMS-05</li>
        </ol>
    </nav>
    <h2 class="header-style">IMS-05 / Departments</h2>
    <hr>

    <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['department', 'SHE']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/licenses.png" alt="SHE">

                        <div class="card-body">
                            <h4 class="card-title">SHE</h4>
                            <small>
                                <p class="card-text">SHE</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['department', 'HR']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/stats.png" alt="hr">

                        <div class="card-body">
                            <h4 class="card-title">HR</h4>
                            <small>
                                <p class="card-text">HR</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['department', 'Finance']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/audit.png" alt="finance">

                        <div class="card-body">
                            <h4 class="card-title">Finance</h4>
                            <small>
                                <p class="card-text">Finance</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['department', 'Technical Services']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/she-reporting.png" alt="Technical-Services">

                        <div class="card-body">
                            <h4 class="card-title">Technical-Services</h4>
                            <small>
                                <p class="card-text">Technical-Services</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['department', 'Engineering']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/audit.png" alt="Engineering">

                        <div class="card-body">
                            <h4 class="card-title">Engineering</h4>
                            <small>
                                <p class="card-text">Engineering</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['department', 'Reduction']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/audit.png" alt="Reduction">

                        <div class="card-body">
                            <h4 class="card-title">Reduction</h4>
                            <small>
                                <p class="card-text">Reduction</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['department', 'Security']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/audit.png" alt="Security">

                        <div class="card-body">
                            <h4 class="card-title">Security</h4>
                            <small>
                                <p class="card-text">Security</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>