<div class="">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/ims-04']">IMS-04</a></li>
        <li class="breadcrumb-item active" aria-current="page">Complaints Register</li>
      </ol>
    </nav>
    <h2 class="header-style">Complaints Register</h2>
    <hr>
  
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search" class="form-control" />
      </div>
    </div>
  
    <div class="row mat-elevation-z8" *ngIf="!loading">
      <!-- <h3 class="content-style" style="text-align: center;width: 100%;">{{ 'Submitted Results' }}</h3> -->
      <table class="table table-bordered table-responsive table-striped table-hover raw-materials" *ngIf="userResults">
        <thead>
          <tr>
            <th>ID</th>
            <th>File</th>
            <th>Name</th>
            <th>Description</th>
            <th>Timestamp</th>
            <th>Is_Active?</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
  
          <tr class="details"
            *ngFor="let m of userResults  | filter: searchText | slice: (page-1) * pageSize : page * pageSize">
            <td>
              <p>{{ m.id }}</p>
            </td>
            <td>
              <p> <a href="{{ m.complaints_register_file }}" target="_blank" download>
                  <i class="fa fa-download"></i>
                </a></p>
            </td>
            <td>
              <p>{{ m.name }}</p>
            </td>
            <td>
              <p>{{ m.description }}</p>
            </td>
            <td>
              <p>{{ m.timestamp | date }} {{ m.timestamp | date: "shortTime" }}</p>
            </td>
            <td>
              <p>{{ m.active }}</p>
            </td>
            <td>
              <button [routerLink]=" ['details', m.id]" class="btn btn-success">
                <i class="fa fa-play"></i>
              </button>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="userResults" class="col-sm-12 row d-flex justify-content-center">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userResults.length">
        </ngb-pagination>
      </div>
      <!-- all participants -->
    </div>
  
    <div *ngIf="loading" class="text text-center myloader">
      <img height="200" width="auto" src="assets/images/tenor.gif">
      <div class="text">
        Loading....
      </div>
    </div>
  </div>
  