<div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">IMS-06</li>
        </ol>
    </nav>
    <h2 class="header-style">IMS-06</h2>
    <hr>

    <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['category', 'BRA']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/licenses.png" alt="BRA">

                        <div class="card-body">
                            <h4 class="card-title">Baseline Risk Assessment (BRA)</h4>
                            <small>
                                <p class="card-text">Baseline Risk Assessment (BRA)</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['category', 'IBRA']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/stats.png" alt="IBRA">

                        <div class="card-body">
                            <h4 class="card-title">Issue Based Risk Assessment</h4>
                            <small>
                                <p class="card-text">Issue Based Risk Assessment</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['category', 'COR']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/audit.png" alt="COR">

                        <div class="card-body">
                            <h4 class="card-title">Compliance Obligations Register</h4>
                            <small>
                                <p class="card-text">Compliance Obligations Register</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['category', 'IMSOT']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/she-reporting.png" alt="IMSOT">

                        <div class="card-body">
                            <h4 class="card-title">IMS Objectives and targets</h4>
                            <small>
                                <p class="card-text">IMS Objectives and targets</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['category', 'ACTs']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/audit.png" alt="ACTs">

                        <div class="card-body">
                            <h4 class="card-title">ACTs</h4>
                            <small>
                                <p class="card-text">ACTs</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['category', 'BF']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/audit.png" alt="BF">

                        <div class="card-body">
                            <h4 class="card-title">Blank forms</h4>
                            <small>
                                <p class="card-text">Blank forms</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['category', 'OTHER']">
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/audit.png" alt="OTHER">

                        <div class="card-body">
                            <h4 class="card-title">Other</h4>
                            <small>
                                <p class="card-text">Other</p>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>